*{
  margin: 0;
  padding: 0;
}

.App{
  display: flex;
  height: 100vh;
  flex-direction: column;
  gap: 2rem;
  background-image: url('https://images6.alphacoders.com/376/376931.jpg');
  overflow: hidden;
}